<div class="qr-code-container">
  <!-- Bouton principal avec animation -->
  <div class="action-card" (click)="toggleQRCodeOrScanner()">
    <div class="icon-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h3a1 1 0 011 1v3a1 1 0 01-1 1H4a1 1 0 01-1-1V4zm2 2V5h1v1H5zM3 13a1 1 0 011-1h3a1 1 0 011 1v3a1 1 0 01-1 1H4a1 1 0 01-1-1v-3zm2 2v-1h1v1H5zM13 3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1V4a1 1 0 00-1-1h-3zm1 2v1h1V5h-1z" clip-rule="evenodd" />
      </svg>
    </div>
    <span>QR Code</span>
  </div>

  <!-- Modal QR Code -->
  <div class="modal" *ngIf="showQRCode" @fadeAnimation>
    <div class="modal-content qr-display">
      <div class="modal-header">
        <h3>Votre QR Code</h3>
        <button class="close-btn" (click)="toggleQRCode()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>

      <div class="qr-wrapper">
        <qrcode
          [qrdata]="qrData"
          [width]="250"
          [errorCorrectionLevel]="'M'"
          [margin]="2">
        </qrcode>
      </div>

      <button class="action-button scanner" (click)="toggleScanner()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
          <path d="M7 21H3V17M17 21H21V17M7 3H3V7M17 3H21V7"/>
        </svg>
        Scanner un QR Code
      </button>
    </div>
  </div>

  <!-- Modal Scanner -->
  <div class="modal" *ngIf="showScanner" @fadeAnimation>
    <div class="modal-content scanner-display">
      <div class="modal-header">
        <h3>Scanner un QR Code</h3>
        <button class="close-btn" (click)="toggleScanner()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>

      <div class="scanner-wrapper">
        <zxing-scanner
          (scanSuccess)="onCodeScanned($event)"
          [formats]="[BarcodeFormat.QR_CODE]">
        </zxing-scanner>
        <div class="scan-overlay">
          <div class="scan-line"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Composant de transfert -->
  <app-transfer
    *ngIf="showTransfer"
    [receiverPhoneNumber]="scannedPhone"
    [editablePhone]="isDirectTransfer"
    (onClose)="closeTransfer()"
    (onSuccess)="onTransferSuccess($event)">
  </app-transfer>
</div>
