.scanner {
  width: 100%;
  max-width: 400px; /* Ajustez la taille du scanner si nécessaire */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.bg-gradient-to-r {
  background: linear-gradient(to right, #6b46c1, #3182ce);
}

.shadow-2xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
