<div class="wallet">
  <div *ngIf="loading" class="loading">Chargement...</div>

  <ng-container *ngIf="!loading">
    <div class="balance">
      <h2>Solde
        <button (click)="toggleBalanceVisibility()">
          <i class="fas" [ngClass]="isBalanceVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>

      </h2>
      <p *ngIf="isBalanceVisible; else hiddenBalance">{{ balance | currency:'CFA':'symbol':'1.0-0' }}</p>
      <ng-template #hiddenBalance>
        <p>******</p> <!-- Affiche des étoiles ou des pointillés -->
      </ng-template>
    </div>

    <div class="currencies">
      <div *ngFor="let currency of exchangeRates"
           class="currency"
           [ngClass]="currency.code.toLowerCase()">
        <div class="currency-header">
          <span class="flag">{{ currency.flag }}</span>
          <span class="code">{{ currency.code }}</span>
          <span class="trend" [class.up]="currency.trend.startsWith('+')">{{ currency.trend }}</span>
        </div>
        <div class="amount">
          <span *ngIf="isBalanceVisible; else hiddenConvertedBalance">
            {{ getConvertedBalance(currency.code) | currency:currency.code:'symbol':'1.0-0' }}
          </span>
          <ng-template #hiddenConvertedBalance>
            <span>******</span> <!-- Affiche des étoiles ou des pointillés -->
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</div>
